@{
    Layout = "~/Views/Shared/Header_Footer_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
    <div>
        <!--Phan nay ke thua tu masterlayout-->
        @RenderBody()
    </div>
</body>
</html>
