@{
    ViewBag.Title = "Community";
    Layout = "~/Views/Shared/Header_Footer_Layout.cshtml";
}

<header class="bg-primary text-white text-center py-5">
    <h1 class="text-center">Cộng đồng của chúng tôi</h1>
</header>
<div class="container my-5">
    <h2>Giới thiệu cộng đồng</h2>
    <div class="community-intro">
        <p>Chào mừng bạn đến với cộng đồng của chúng tôi. Chúng tôi tận hưởng việc tạo ra các sự kiện và hoạt động để kết nối mọi người và tạo ra những trải nghiệm độc đáo.</p>
    </div>
    <hr />
    <div class="events">
        <h3>Sự kiện tiêu biểu</h3>
        <ul>
            <li>Sự kiện 1: Giao lưu trực tiếp tại Hà Nội.</li>
            <li>Sự kiện 2: Giao lưu cùng các "đồng chí" tại Huflit.</li>
        </ul>
    </div>
    <hr />
    <h2>Kết nối với chúng tôi trên mạng xã hội</h2>
    <div class="social-media">
        <p>Chúng tôi rất mong được kết nối với bạn trên các trang mạng xã hội:</p>
        <a href="https://www.facebook.com/YourCommunity" target="_blank" class="btn btn-primary">Facebook</a>
        <a href="https://twitter.com/YourCommunity" target="_blank" class="btn btn-info">Twitter</a>
        <a href="https://www.youtube.com/user/YourCommunityChannel" target="_blank" class="btn btn-danger">YouTube</a>
    </div>
    <hr />

    <h2>Sự kiện giảm giá</h2>
    <div class="discount-events">
        <p>Những sự kiện giảm giá đang chờ đón bạn:</p>
        <ul>
            <li>Black Friday Sale: Giảm giá lên đến 50% cho tất cả các vé xe vào ngày Black Friday.</li>
            <li>Summer Special: Nhận giảm giá 30% cho các chuyến đi trong mùa hè.</li>
        </ul>
    </div>
    <hr />
    <h2>Liên hệ với chúng tôi</h2>
    <div class="contact">
        <p>Nếu bạn có bất kỳ câu hỏi hoặc ý kiến nào, hãy liên hệ với chúng tôi qua địa chỉ email: info@yourcommunity.com</p>
    </div>
</div>
