
@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Shared/Header_Footer_Layout.cshtml";
}
<head>
<style>
    /* Tùy chỉnh CSS của bạn */
    .content-container {
        padding: 50px;
        margin-top: 20px;
        background-position: center;
    }

    .logo {
        max-width: 220px;
    }

    /* Tùy chỉnh các tiêu đề */
    h1 {
        font-size: 28px;
    }

    p {
        font-size: 18px;
    }
</style>
</head>
<header class="bg-primary text-white text-center py-5">
    <h1 class="text-center">Giới Thiệu về BornToHide</h1>
</header>
<body>
    <div class="container">
        <div class="content-container">

            <p>Được thành lập từ năm 2023, BornToHide đã xây dựng được tên tuổi hàng đầu với bề dày hoạt động trong lĩnh vực thương mại điện tử, công nghệ và du lịch. BornToHide tự hào là đơn vị đi đầu trong sự nghiệp cách mạng ngành xe khách và du lịch Việt Nam bao gồm các giải pháp: đặt vé & phương tiện thông minh cho hành khách, phần mềm quản lý hiệu quả cho nhà xe (BMS - Bus Management System) và phần mềm hỗ trợ bán vé hiệu quả cho đại lý (AMS- Agent Management System).</p>

            <p>Hiện tại, BornToHide là hệ thống vé xe lớn nhất Việt Nam. Không chỉ mang đến cho người dùng đa dạng lựa chọn về hãng xe, dòng xe và giải pháp đặt vé nhanh chóng, tiện lợi, VeXeRe còn có rất nhiều ưu đãi hàng tháng, giúp khách hàng đặt được vé xe khách chất lượng cao với giá thấp nhất thị trường. Hành khách có thể dễ dàng lựa chọn trước chỗ ngồi yêu thích, thanh toán vé trực tuyến, hoặc bằng tiền mặt tại các cửa hàng tiện lợi trên cả nước.</p>

            <p>Trang web hãng xe BornToHide (BTH) đang được hơn 700 hãng xe cả nước tin dùng. Phần mềm hỗ trợ các nhà xe thay đổi hình thức quản lý thủ công để quản lý hiệu quả và tối ưu hóa doanh thu, giảm thiểu chi phí, và tăng doanh thu từ mạng lưới đại lý rộng lớn nhất cả nước. Đây là cuộc cách mạng trong việc công nghệ hóa ngành xe khách.</p>

            <p>Trang web hỗ trợ đại lý bán vé BTH có hơn 5.000 đại lý sử dụng, giúp tăng doanh thu bán vé của đại lý và giúp đại lý hỗ trợ chăm sóc khách tốt hơn.</p>
        </div>
    </div>

</body>