@{
    ViewBag.Title = "Terms";
    Layout = "~/Views/Shared/Header_Footer_Layout.cshtml";
}

<body>
    <header class="bg-primary text-white text-center py-5">
        <h1 style="text-align:center">Điều khoản và Chính sách</h1>
    </header>
    <div class="container my-5">
        <h2>Điều khoản đặt vé</h2>
        <p>Chúng tôi rất vui mừng được phục vụ bạn trong việc đặt vé xe thông qua trang web của chúng tôi. Trước khi tiến hành đặt vé, bạn vui lòng đọc và hiểu rõ các điều khoản sau đây:</p>
        <h3>Quy trình đặt vé</h3>
        <p>Để đặt vé, bạn phải thực hiện quy trình đặt vé trực tuyến thông qua trang web hoặc ứng dụng di động của chúng tôi. Chúng tôi không chấp nhận đặt vé trực tiếp tại văn phòng hoặc qua điện thoại.</p>
        <h3>Thông tin cá nhân</h3>
        <p>Bạn cần cung cấp thông tin cá nhân chính xác và đầy đủ để đảm bảo tính chính xác của vé và để chúng tôi có thể liên hệ với bạn khi cần thiết. Chúng tôi cam kết bảo vệ thông tin cá nhân của bạn theo chính sách quy định.</p>
        <h3>Thời gian và ngày đi</h3>
        <p>Bạn phải chọn thời gian và ngày đi chính xác khi đặt vé. Thay đổi thời gian và ngày đi có thể tác động đến khả năng bạn có vé và dịch vụ của chúng tôi không chịu trách nhiệm về sự thay đổi này sau khi vé đã được xác nhận.</p>
        <h3>Thanh toán</h3>
        <p>Bạn cần thanh toán vé theo phương thức đã chỉ định trên trang web của chúng tôi. Chúng tôi không chấp nhận thanh toán bằng tiền mặt hoặc các phương thức khác ngoài những phương thức được liệt kê trên trang web.</p>
        <h3>Hủy vé và hoàn tiền</h3>
        <p>Chúng tôi có chính sách hủy vé và hoàn tiền cụ thể. Xin vui lòng xem chi tiết về chính sách này trên trang web của chúng tôi để biết thêm thông tin.</p>
        <h3>Quyền và trách nhiệm</h3>
        <p>Chúng tôi có quyền từ chối việc đặt vé cho bất kỳ lý do nào. Bạn cần tuân thủ tất cả các quy định và quy định của chúng tôi khi sử dụng dịch vụ của chúng tôi.</p>
        <h3>Liên hệ</h3>
        <p>Nếu bạn cần hỗ trợ hoặc có bất kỳ câu hỏi nào liên quan đến việc đặt vé, vui lòng liên hệ với chúng tôi qua thông tin liên hệ được cung cấp trên trang web.</p>
        <h3>Chấp nhận điều khoản</h3>
        <p>Đặt vé thông qua trang web của chúng tôi đồng nghĩa với việc bạn chấp nhận tất cả các điều khoản và quy định được nêu trên trang web này.</p>
        <h3>Giá vé và ưu đãi</h3>
        <p>Giá vé có thể biến đổi tùy theo thời điểm và ngày, và chúng tôi có thể cung cấp các ưu đãi đặc biệt. Hãy kiểm tra trang web thường xuyên để cập nhật thông tin về giá và ưu đãi mới nhất.</p>
        <h3>Trách nhiệm của bạn</h3>
        <p>Bạn phải duy trì tình trạng lịch sự và tôn trọng khi sử dụng dịch vụ của chúng tôi. Chúng tôi có quyền từ chối dịch vụ cho bất kỳ người nào xâm phạm vào quyền và an ninh của người khác hoặc gây rối trật tự công cộng.</p>
        <h3>Hạn chế trách nhiệm của chúng tôi</h3>
        <p>Chúng tôi sẽ không chịu trách nhiệm đối với bất kỳ thất thoát hoặc thất vọng nào do nguyên nhân ngoài tầm kiểm soát của chúng tôi, bao gồm thiên tai, sự cố kỹ thuật, hoặc hành vi của bên thứ ba.</p>
        <h3>Sự thay đổi về lịch trình</h3>
        <p>Chúng tôi có quyền thay đổi lịch trình hoặc chuyến bay trong trường hợp khẩn cấp hoặc lý do bảo đảm an toàn. Chúng tôi sẽ thông báo cho bạn một cách kịp thời trong trường hợp này.</p>
        <h3>Xem xét và cập nhật điều khoản</h3>
        <p>Chúng tôi có quyền xem xét và cập nhật các điều khoản và điều kiện này theo thời gian. Bất kỳ thay đổi nào sẽ được thông báo trên trang web và có hiệu lực ngay lập tức sau khi được công bố. Việc sử dụng tiếp theo của dịch vụ sẽ đồng nghĩa với sự chấp nhận của bạn đối với các điều khoản đã được sửa đổi.</p>
    </div>
    <div class="bg-light py-5">
        <div class="container">
            <h2>Liên hệ</h2>
            <p>Nếu bạn có bất kỳ câu hỏi hoặc khiếu nại nào liên quan đến việc mua vé hoặc sử dụng dịch vụ của chúng tôi, vui lòng liên hệ với dịch vụ khách hàng của chúng tôi.</p>
            <p>Hotline: 09xxxxxxxxx</p>
            <p>Email: xxx@BTHnetwork.com</p>
        </div>
    </div>
</body>
