@{
    ViewBag.Title = "Trở Thành Đối Tác Của Chúng Tôi";
    Layout = "~/Views/Shared/LayoutNhaXePage1.cshtml";
}

<div class="container mt-5">
    <h2 class="display-4">Trở Thành Đối Tác Của Chúng Tôi</h2>

    <p>
        Chào mừng bạn đến trang "Trở Thành Đối Tác Của Chúng Tôi". Chúng tôi rất phấn khích được hợp tác cùng bạn trong sứ mệnh hỗ trợ ngành vé xe khách.
    </p>

    <h3>Về Chúng Tôi</h3>

    <p>
        Chúng tôi là một công ty vận tải đa phương tiện hàng đầu với mạng lưới rộng lớn và cam kết cung cấp dịch vụ tốt nhất cho đối tác của mình. Chúng tôi luôn tìm kiếm cơ hội hợp tác với các công ty xe buýt uy tín và đánh giá cao vai trò của họ trong ngành chung của chúng ta.
    </p>

    <h3>Lợi Ích Khi Hợp Tác Cùng Chúng Tôi</h3>

    <p>
        Bằng cách hợp tác với chúng tôi, bạn sẽ có cơ hội tận hưởng nhiều lợi ích, bao gồm:
    </p>

    <ul>
        <li>Truy cập vào mạng lưới rộng lớn của chúng tôi.</li>
        <li>Tăng doanh số bán hàng thông qua việc thu hút thêm khách hàng.</li>
        <li>Sự hỗ trợ từ đội ngũ chuyên gia và kỹ thuật viên của chúng tôi.</li>
        <li>Cơ hội quảng cáo và tiếp thị để tăng cường thương hiệu.</li>
    </ul>

    <h3>Liên Hệ Với Chúng Tôi</h3>

    <p>
        Nếu bạn quan tâm đến việc trở thành đối tác hoặc muốn biết thêm thông tin, hãy đừng ngần ngại liên hệ với chúng tôi qua địa chỉ email hoặc số hotline được cung cấp bên dưới:
    </p>

    <p>
        Email: <a href="mailto:xxx@bth.com">xxx@bth.com</a><br>
        Hotline: 09xxxxxx
    </p>

    <p>
        Nếu nhà xe bạn đã có tài khoản vui lòng đăng nhập <a href="@Url.Action("Login","HangXe")">tại đây</a>
    </p>

    <p>
        Cảm ơn bạn đã xem xét chúng tôi là đối tác trong ngành vé xe khách. Chúng tôi mong chờ cơ hội được làm việc cùng bạn.
    </p>
</div>
